name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - id: getfilename
        run: echo "::set-output name=file::$(ls bungee/target/BungeeUtilisalsX*.jar)"
      - name: Create artifact
        uses: actions/upload-artifact@v1
        with:
          name: HeroicScoreboard
          path: ${{ steps.getfilename.outputs.file }}
